<div class="jumbotron">
  <h1>Your Authentication Code:</h1>
  <p><%= params[:code] %>
  <p>Create a new secret in your GitHub Repository secrets called "LINKEDIN_CODE" and paste the code above as the value of that secret.</p>
</div>