<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Authenticate with LinkedIn below.</p>
  <p>After authenticating, copy the code displayed in the next page and add it to your GitHub repository secrets.</p>
  <li><%= link_to 'LinkedIn', '/auth/linkedin', method: :post %></li>
</div>